' Hello World in C64
CHROUT  :=$FFD2

        *=$0801   ' Starting Address BASIC + 1
basic 
        ?=$0C,$08,$40,$00,$9E,$20,$32,$30,$36,$32,$00,$00,$00 ' BASIC CODE: 64 SYS 2062 

loop    A=hello+X               ' LDA hello,X
        ;==,stop                ' BEQ stop
        !=CHROUT                ' JSR CHROUT
        X=+                     ' INX
        #=loop                  ' JMP loop
stop   #=!                      ' RTS

hello   ?="HELLO, WORLD.",0     ' !tx "HELLO, WORLD.",0
