CHROUT  :=$ffd2      ' EQL $FFD2
        *=$080e      ' ORG $080E

        X=#0         ' LDX #0
loop    A=hello+X    ' LDA hello,X
        !=CHROUT     ' JSR CHROOT
        X=X+1        ' INX
        P=X-#$0d     ' CPX #$0D
        ;=/ #=loop   ' BNE loop

stop    #=!          ' RTS

hello   ?="HELLO, WORLD."
