nes_header                      ;; iNESヘッダ
        ?=$4E,$45,$53,$1A       ;; "NES" Header
        ?=$02                   ;;  PRG-BANKS
        ?=$01                   ;;  CHR-BANKS
        ?=$01                   ;;  Vetrical Mirror
        ?=$00                   ;;  
        ?=$00,$00,$00,$00       ;;  
        ?=$00,$00,$00,$00       ;;  
